<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Tareas</title>
   
    <meta name="color-scheme" content="light only">
    <link rel="stylesheet" href="/static/css/style.css">
   
    <!-- Font fix -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
</head>
<body>
    <div id="board" class="board-container"></div>
    <script src="/static/js/main.js?v=3"></script>  <!-- v=3 para forzar reload -->
</body>
</html>